.editor {
  --hue: 355;
  padding: 10px;
  background-color: hsl(var(--hue), 100%, 80%);
  border-width: 5px;
  border-style: solid;
  border-top-color: hsl(var(--hue), 100%, 86%);
  border-left-color: hsl(var(--hue), 100%, 86%);
  border-bottom-color: hsl(var(--hue), 77%, 65%);
  border-right-color: hsl(var(--hue), 77%, 65%);
}
