#slammer {
  background-color: #333;
  min-height: 100vh;
  padding: 10px;
  padding-top: 50px;
}

#slam {
  margin-top: 20px;
  height: 150px;
  font-size: 50px;
}

.output {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
  font-family: "Courier New", Courier, monospace;
}
